[submodule "deps/GameEngine"]
	path = deps/GameEngine
	url = git@github.com:bartekordek/GameEngine.git
[submodule "deps/wxWidgets"]
	path = deps/wxWidgets
	url = git@github.com:wxWidgets/wxWidgets.git
