*.VC.db
*.VC.db*
*.a
*.bin
*.check_cache
*.db
*.dll
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.txt
*cache
*~ml
Build-*
CMakeFiles/
build/*
intermediate
runDir
