*.VC.db
*.a
*.bin
*.check_cache
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.res
*.sdf
*.suo
*.tlog
*cache
*~ml
build/*
intermediate
runDir
CMakeFiles/
Tetris/nbproject/private/
MogeLib/nbproject/private/
*.VC.db*
*.dll
*.pdb
/FooOpenGL/build
Build-*

*.db
*.txt
